
   ----------------------------------------------
    _______  _    _      _      __    _______   ___
   |       | \ \/ / __  | |    /  \  |       | |   |
   | |   | |  |  | |__| | |_  | -- | | |   | | |  _|
   |_|\_/|_|  |__|      |___| |_/\_| |_|\_/|_| |_|
   ----------------------------------------------
   Local Virtual Machine


   {{ ansible_distribution }} {{ ansible_distribution_version }}
   Environment: {{ env }}

